{{define "search:"}}Search: {{.}}{{end}}
{{define "title"}}{{template "search:" .Query}}{{end}}
{{define "body"}}
<div class="layout"><main class="main-width title-search">
	<h1>{{block "search results for" .Query}}Search results for ‘{{.}}’{{end}}</h1>
	<p>{{block "search desc" .}}Every hypha name has been compared with the query. Hyphae that have matched the query are listed below.{{end}}</p>
	<ul class="title-search__results">
      {{range .Results}}
		<li class="title-search__entry">
          <a class="title-search__link wikilink" href="/hypha/{%s hyphaName %}">{{beautifulName .}}</a>
		</li>
	  {{end}}
	</ul>
  </main>
</div>
{{end}}