{{define "category list"}}Category list{{end}}
{{define "title"}}{{template "category list"}}{{end}}
{{define "body"}}
	<main class="main-width">
		<h1>{{template "title"}}</h1>
        {{if len .Categories}}
			<ol>
                {{range .Categories}}
					<li>
						<a class="wikilink" href="/category/{{.}}">{{beautifulName .}}</a>
					</li>
                {{end}}
			</ol>
        {{else}}
			<p>{{block `no categories` .}}This wiki has no categories.{{end}}</p>
        {{end}}
	</main>
{{end}}