<html>
	<head>
		<title>{{ .Title }}</title>
		<link rel="stylesheet" href="/Templates/default-light/main.css?action=raw">
	</head>
	<body>
		<div class="shroom">
			<button class="shroom__button" id="shroomBtn"><span>🍄</span> Open</button>
		</div>
		<main class="main">{{ .Main }}</main>
		<div class="left-panel" id="shroomburgerMenu">
			<div class="left-panel__in">
				<div class="shroom mushroom">
					<button class="shroom__button" id="mushroomBtn"><span>🍄</span> Close</button>
				</div>
				<div class="left-panel__contents">
					<!-- Site title is fetched from your config.json. Set your title in "site-title" field. You can add more things to the header here. -->
					<header class="header">
						<h1 class="header__site-title">{{ .SiteTitle }}</h1>
					</header>
					<aside class="sidebar">{{ .Sidebar }}</aside>
					<footer class="footer">
						<p>This website runs <a href='https://github.com/bouncepaw/mycorrhiza'>MycorrhizaWiki</a></p>
					</footer>
				</div>
			</div>
		</div>
		<script src="/Templates/default-light/main.js?action=raw"></script>
	</body>
</html>
