*, *::before, *::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font: 15px/1.5 system-ui, -apple-system, BlinkMacSystemFont, 'Helvetica Neue', 'Helvetica', 'PT Sans', 'Roboto', 'Arial', sans-serif;
    max-width: 500px;
    min-height: 100%;
    margin: 0 auto;
    padding: 12px 24px;
}

@media (min-width: 700px) {
    body {
    }
}

.shroom {
    margin: 0;
}

.shroom__button {
    border-radius: 8px;
    padding: 8px 16px 8px 0;
    border: none;
    background: #f0f2f4;
    color: #444;
    font: inherit;
    font-size: 15px;
    font-weight: 500;
    text-align: left;
}

.shroom span {
    margin-left: 16px;
    margin-right: 8px;
    font-size: 20px;
    vertical-align: -0.04em;
}

.mushroom .shroom__button {
    background: #44484a;
    color: #dddfe4;
}


.header {
    padding: 8px 0;
}

.header h1 {
    margin: 0;
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.02em;
    color: #222428;
}


a {
    color: #44e;
}

a:visited {
    color: #44a;
}

h1, h2, h3, h4, h5, h6 {
    margin: 1em 0 0.25em;
}

.page {
    font-size: 16px;
    line-height: 1.666;
    max-width: 40em;
    hyphens: auto;
}

.page__title {
    font-family: 'PT Serif', 'Georgia', serif;
    font-size: 36px;
    font-weight: normal;
}

.edit-box { display: grid; grid-template-columns: 7fr 5fr; }
.edit-box .naviwrapper__buttons { grid-column: 1; grid-row: 2 }
.edit-box__left { grid-column: 1; grid-row: 2 }
.edit-box__right { grid-column: 2; grid-row: 1 / span 2 }

footer {
    padding: 1em 0;
    font-size: 12px;
    color: #888;
}

footer a, footer a:visited {
    color: #666;
}

.left-panel {
    display: none;
}

.left-panel.active {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #fafafa;
}

.left-panel.active .sidebar {
    background: #fff;
}

.left-panel__in {
    width: 100%;
    height: 100%;
    max-width: 500px;
    margin: 0 auto;
    padding: 12px 24px;

}

.left-panel__contents {
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.left-panel .shroom {
    margin-bottom: 16px;
}

@media (min-width: 700px) {
    body {
        max-width: 1200px;
        padding: 8px 16px;
        padding-right: 274px; /* 250px + 16px + 16px */
    }

    .shroom {
        display: none;
    }

    .page {
        font-size: 18px;
    }

    .left-panel {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 274px; /* 250px + 24px * 2 */
        right: 0;
    }

    .left-panel__contents {
        height: 100%;
    }
}

.sidebar {
    padding: 16px 0;
    border-radius: 8px;
    background: #f4f4f4;
}

.hypha-actions ul {
    margin: 0;
    padding: 0;
}

.hypha-actions li {
    list-style: none;
}

.hypha-actions a {
    display: block;
    padding: 6px 16px;
    font: inherit;
    text-decoration: none;
    color: #666;
    transition: 0.1s background;
}

aside .hypha-actions a:hover {
    background: #eaeaea;
}


			