{{define "empty hypha card"}}
<section class="non-existent-hypha">
	<h2 class="non-existent-hypha__title">{{block "empty heading" .}}This hypha does not exist{{end}}</h2>
	{{if and .UseAuth (eq .Meta.U.Group "anon")}}
	<p>{{block "empty no rights" .}}You are not authorized to create new hyphae. Here is what you can do:{{end}}</p>
	<ul>
		<li><a href="/login">{{block "empty log in" .}}Log in to your account, if you have one{{end}}</a></li>
		{{if .AllowRegistration}}<li><a href="/register">{{block "empty register" .}}Register a new account{{end}}</a></li>{{end}}
	</ul>
	{{else}}
	<div class="non-existent-hypha__ways">
		<section class="non-existent-hypha__way">
			<h3 class="non-existent-hypha__subtitle">📝 {{block "write a text" .}}Write a text{{end}}</h3>
			<p>{{block "write a text tip" .}}Write a note, a diary, an article, a story or anything textual using <a href="/help/en/mycomarkup" class="shy-link">Mycomarkup</a>. Full history of edits to the document will be saved.{{end}}</p>
			<p>{{block "write a text writing conventions" .}}Make sure to follow this wiki's writing conventions if there are any.{{end}}</p>
			<a class="btn btn_accent stick-to-bottom" href="/edit/{{.HyphaName}}">{{block "write a text btn" .}}Create{{end}}</a>
		</section>

		<section class="non-existent-hypha__way">
			<h3 class="non-existent-hypha__subtitle">🖼 {{block "upload a media" .}}Upload a media{{end}}</h3>
			<p>{{block "upload a media tip" .}}Upload a picture, a video or an audio. Most common formats can be accessed from the browser, others can be only downloaded afterwards. You can write a description for the media later.{{end}}</p>
			<form action="/upload-binary/{{.HyphaName}}"
			      method="post" enctype="multipart/form-data"
			      class="upload-binary">
				<input type="file" id="upload-binary__input" name="binary">
				<button type="submit" class="btn stick-to-bottom" value="Upload">{{block "upload a media btn" .}}Upload{{end}}</button>
			</form>
		</section>
	</div>
	{{end}}
</section>
{{end}}