{{define "user x"}}User {{.}}{{end}}
{{define "title"}}{{template "user x" .U.Name}}{{end}}
{{define "body"}}
	<main class="main-width form-wrap">
		<h1>
			<a href="/admin/users/">&larr;</a>
			{{.U.Name}}
		</h1>

		{{if .Form.HasError}}
		<div class="notice notice--error">
			<strong>{{template "error"}}:</strong>
			{{.Form.Error}}
		</div>
		{{end}}

		<h2>{{block "change group" .}}Change group{{end}}</h2>

		<form action="" method="post">
			<div class="form-field">
				<select id="group" name="group" aria-label="{{block "group" .}}Group{{end}}">
					<option {{if .Form.Get "group" | eq "anon" }}selected{{end}}>anon</option>
					<option {{if .Form.Get "group" | eq "reader" }}selected{{end}}>reader</option>
					<option {{if .Form.Get "group" | eq "editor" }}selected{{end}}>editor</option>
					<option {{if .Form.Get "group" | eq "trusted" }}selected{{end}}>trusted</option>
					<option {{if .Form.Get "group" | eq "moderator" }}selected{{end}}>moderator</option>
					<option {{if .Form.Get "group" | eq "admin" }}selected{{end}}>admin</option>
				</select>
			</div>

			<div class="form-field">
				<button class="btn" type="submit">{{block "update" .}}Update{{end}}</button>
			</div>
		</form>

		<h2>{{block "change password" .}}Change password{{end}}</h2>

		{{if eq .U.Source "local"}}
		<form action="/admin/users/{{.U.Name}}/change-password" method="post">
			<div class="form-field">
				<label for="pass">{{block "password" .}}Password{{end}}</label>
				<input required type="password" autocomplete="new-password" id="pass" name="password">
				<br>
				<label for="pass_confirm">{{block "confirm password" .}}Confirm password{{end}}</label>
				<input required type="password" autocomplete="new-password" id="pass_confirm" name="password_confirm">
			</div>

			<div class="form-field">
				<input class="btn" type="submit" value='{{block "submit" .}}Submit{{end}}'>
			</div>
		</form>
        {{else}}
        <p>{{block "non local password change" .}}Non-local accounts cannot have their passwords changed.{{end}}</p>
        {{end}}

		<h2>{{block "delete user" .}}Delete user{{end}}</h2>
		<p>{{block "delete user tip" .}}Remove the user from the database. Changes made by the user will be preserved. It will be possible to take this username later.{{end}}</p>
		<a class="btn btn_destructive" href="/admin/users/{{.U.Name}}/delete">{{template "delete"}}</a>
	</main>
{{end}}
