{{define "hypha at rev"}}{{.HyphaName}} at {{.RevHash}}{{end}}
{{define "title"}}{{template "hypha at rev" .}}{{end}}
{{define "body"}}
    <main class="main-width">
        <section>
            <p>
                {{block "revision warning" .}}Please note that viewing media is not supported in history for now.{{end}}
                <a href="/rev-text/{{.RevHash}}/{{.HyphaName}}">
                    {{block "revision link" .}}Get Mycomarkup source of this revision{{end}}
                </a>
            </p>
            {{.NaviTitle}}
            {{.Contents}}
        </section>
    </main>
    {{range .ViewScripts}}<script src="{{.}}"></script>
    {{end}}
{{end}}